.products {
  margin-left: 5rem;
  @include respond(phone) {
    margin-left: 1.3rem;
  }

  & h1 {
    text-align: center;
    text-transform: capitalize;
    font-family: $subFont;
    background-color: $woodcolor;
    width: 93%;
    padding: 5px;
    border-radius: 5px;
    color: black;
    @include respond(phone) {
      width: 21rem;
    }
  }

  &_content {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 20rem 59rem;
    @include respond(phone) {
      margin-top: 10px;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
    }

    &_filter {
      margin-left: 1rem;
      grid-column: 1;
      @include respond(phone) {
        display: block;
        grid-row: 1;
        grid-column: 1;
        margin-left: 1.7rem;
      }

      &_expanded {
        display: none;
        transition: 1s;
      }

      & input {
        margin-left: 10px;
        border-radius: 5px;
        outline: none;
        border: $woodcolor solid 3px;
        padding: 5px;
        margin-top: 16px;
      }

      & input:focus {
        color: black;
      }

      & input[type='text'] {
        color: black;
        padding-left: 20px;
      }

      &_companies {
        & h3 {
          margin-top: 2rem;
          background-color: $woodcolor;
          padding: 5px;
          border-radius: 10px;
          width: 14rem;
          display: grid;
          place-items: center;
        }

        & ul {
          list-style: none;
          margin-top: 1.5rem;

          & li {
            margin-bottom: 10px;
            background-color: black;
            color: $woodcolor;
            padding: 5px;
            border-radius: 10px;
            font-weight: bold;
            width: 10rem;
            display: grid;
            place-items: center;
            cursor: pointer;
          }
        }
      }

      &_price {
        & h3 {
          margin-top: 2rem;
          background-color: $woodcolor;
          padding: 5px;
          border-radius: 10px;
          width: 14rem;
          display: grid;
          place-items: center;
        }

        & input[type='range'] {
          -webkit-appearance: none;
          border: none;
          width: 13rem;
          height: 2rem;
        }

        & input[type='range']::-webkit-slider-runnable-track {
          height: 8px;
          background: #ddd;
          border: none;
          border-radius: 3px;
        }

        & input[type='range']::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: none;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          background: $woodcolor;
          margin-top: -4px;
          cursor: pointer;
        }

        & input[type='range']:focus {
          outline: none;
        }

        & input[type='range']:focus::-webkit-slider-runnable-track {
          background: #ccc;
        }

        & h4 {
          margin-top: 2px;
          margin-left: 1.2rem;
          & span {
            font-weight: bold;
          }
        }
      }

      &_favorites {
        margin-top: 2rem;
      }
    }
    &_list {
      grid-column: 2;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-left: 1rem;
      @include respond(phone) {
        grid-row: 2;
        display: grid;
        grid-column: 1;
        margin-left: -1.6rem;
        margin-top: 1.5rem;
      }

      &_card {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        margin-right: 1.5rem;
        margin-left: 1rem;
        & img {
          width: 26rem;
          height: 16rem;
          @include respond(phone) {
            width: 19rem;
            height: 10rem;
          }
        }
      }
    }
  }
}

.favoriteBtn {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 12.5rem;
  margin-top: 9px;
  height: 2rem;
  border: solid $woodcolor 1px;
  border-radius: 5px;
  cursor: pointer;
}
